<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h1><i class="fas fa-users"></i> List of Users</h1>
    </div>
  </div>
</div>
{{> alert}}
<div class="container">
  <div class=" row">
    <div class="col-12 mb-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
        <i class="fas fa-plus"></i> Add
      </button>
      <button type="submit" form="mirrorMongoForm" class="btn btn-secondary">
        <i class="fas fa-database"></i> Mirror to MongoDB
      </button>
      <form id="mirrorMongoForm" method="post" action="/users/mirror/mongodb"></form>
      <!-- Modal -->
      <div class="modal fade" id="addUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addUserModalLabel"><i class="fas fa-user-plus"></i> Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="addUserForm" method="post" action="/users">
                <div class="form-group">
                  <label for="username" class="col-form-label">Username:</label>
                  <input required type="text" maxlength="40" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Password:</label>
                  <input required type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                  <label for="citizenId" class="col-form-label">Citizen ID:</label>
                  <input required type="text" maxlength="13" class="form-control" id="citizenId" name="citizen_id">
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input required type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                  <label for="address" class="col-form-label">Address:</label>
                  <input required type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input required type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="phoneNumber" class="col-form-label">Phone number:</label>
                  <input required type="tel" maxlength="10" class="form-control" id="phoneNumber" name="phone_number">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="addUserForm" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="align-middle">ID</th>
              <th scope="col" class="align-middle">Username</th>
              <th scope="col" class="align-middle">Name</th>
              <th scope="col" class="align-middle">Citizen ID</th>
              <th scope="col" class="align-middle">Address</th>
              <th scope="col" class="align-middle">Email</th>
              <th scope="col" class="align-middle">Phone Number</th>
              <th scope="col" class="align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#forEach result}}
            {{#if user_id}}
            <tr>
              <th scope="row" class="align-middle">{{user_id}}</th>
              <td class="align-middle">{{username}}</td>
              <td class="align-middle">{{name}}</td>
              <td class="align-middle">{{citizen_id}}</td>
              <td class="align-middle">
                {{#if (isArray address)}}
                <ul class="m-0">
                  {{#each address}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                {{else}}
                {{address}}
                {{/if}}
              </td>
              <td class="align-middle">
                {{#if (isArray email)}}
                <ul class="m-0">
                  {{#each email}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                {{else}}
                {{email}}
                {{/if}}
              </td>
              <td class="align-middle">
                {{#if (isArray phone_number)}}
                <ul class="m-0">
                  {{#each phone_number}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                {{else}}
                {{phone_number}}
                {{/if}}
              </td>
              <td class="pl-4 pr-4">
                <button type="button" data-toggle="modal" data-username="{{username}}" data-user-id="{{user_id}}"
                  data-target="#editModal" class="text-left col-12 btn btn-primary btn-sm text-nowrap">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" data-toggle="modal" data-target="#deleteModal" data-username="{{username}}"
                  data-user-id="{{user_id}}" class="text-left col-12 btn btn-danger btn-sm text-nowrap">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </td>
            </tr>
            {{/if}}
            {{/forEach}}
          </tbody>
        </table>
      </div>
      <!-- Edit modal -->
      <!-- Modal -->
      <div class="modal fade" id="editModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel"><i class="fas fa-user-plus"></i> Edit Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="editUserForm" method="post" action="/users/edit">
                <input type="hidden" name="user_id" id="editUserId" value="">
                <div class="form-group">
                  <label for="username" class="col-form-label">Username:</label>
                  <input disabled type="text" maxlength="40" class="form-control" id="editUsername" name="username">
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">New Password:</label>
                  <input required type="password" class="form-control" id="assword" name="password">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="editUserForm" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var userId = button.data('userId');
          var userName = button.data('username');
          var modal = $(this);
          modal.find('#editUsername').val(userName);
          modal.find('#editUserId').val(userId);
        })
      </script>
      <!-- Delete modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-user-times"></i> <span
                  id="deleteUserTitle">Delete User</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="mb-0 text-center align-middle">Are you sure you want to permanently remove this user?</p>
              <form id="deleteUserForm" method="post" action="/users/delete">
                <input type="hidden" name="user_id" id="user_id" value="">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" form="deleteUserForm" class="btn btn-danger">OK</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var userId = button.data('userId');
          var userName = button.data('username');
          var modal = $(this);
          modal.find('#deleteUserTitle').text('Delete user ' + userName + '?');
          modal.find('#user_id').val(userId);
        })
      </script>
    </div>
  </div>
</div>